body {font-family: arial;font-size: 16px;padding-left: 15px;padding-top: 15px;}
table {border-collapse: collapse;}
td {border:solid 1px black;padding:5px;}

.sTitreApplication {font-size: 32px;line-height: 26px;font-weight: bold;margin-top: 0px;}
.sTitreSection {font-size: 24px;line-height: 18px;font-weight: bold;}

.sBleu{color:blue;}
.sDroits{font-size:12px;}
.sEntete{background-color:#cccccc; }
.sGras{font-weight: bold;}
.sRouge{color:red;}
.sTableau{font-family: consolas;}
